@media screen and ( max-width: 1100px )
  .main
    padding-bottom: 25px
    &__img
      right: 50px
    &__box
      max-width: 405px
    &__card
      &__text
        font-size: 12px
      &__img
        width: 40px
    &__subtitle
      font-size: 18px
    &__title
      font-size: 50px

  .header
    &__phone
      font-size: 16px
      img
        width: 22px
    &__li
      a
        font-size: 14px