@media screen and ( max-width: 1200px )
  .dev
    &-form
      &__row
        max-width: 410px
        column-gap: 10px
        margin-bottom: 10px
      &__button
        max-width: 410px
        height: 38px
        font-size: 13px
      &__input
        padding: 10px
        font-size: 12px
      &__title
        font-size: 28px
        margin-bottom: 15px
      &__form
        width: 768px
        height: 203px
      &__content
        background: url("../img/dev/form/borderC2.png") no-repeat center/contain