@media screen and ( max-width: 1200px )
  .con
    &-work
      overflow: hidden
      padding: 0
      margin-bottom: 80px
      &__row
        padding: 0
      &__img
        display: none
      &__card
        width: 380px
        min-width: 380px
        height: 170px
        padding-top: 40px
        &--1
          background: url("../img/con/work/borderM1LB.png") no-repeat center/contain
        &--2
          background: url("../img/con/work/borderM2RB.png") no-repeat center/contain
        &--3
          background: url("../img/con/work/borderM2RB.png") no-repeat center/contain
        &--4
          padding-top: 75px
          background: url("../img/con/work/borderM1LT.png") no-repeat center/contain
          transform: translateY(-30px)
        &--5
          background: url("../img/con/work/borderM2RB.png") no-repeat center/contain
          transform: none
        &__title
          font-size: 18px
        &__text
          font-size: 18px
    &-main
      padding-top: 30px
      margin-bottom: 80px
      &__title
        font-size: 55px
        margin-bottom: 10px
      &__subtitle
        font-size: 75px
      &__content
        max-width: 850px
        margin: auto
      &__button
        font-size: 20px
        height: 60px

  .dev
    &-services
      margin-bottom: 80px
      &__title
        margin-bottom: 40px
      &__row
        gap: 5px
        max-width: 548px
        margin: auto
      &__card
        width: 176px
        height: 108px
        background: url("../img/dev/services/bgM.png") no-repeat center/contain
        &__text
          font-size: 14px
        &__bg
          width: calc(100% - 20px)
          height: calc(100% - 20px)
    &-form
      &__row
        max-width: 410px
        column-gap: 10px
        margin-bottom: 10px
      &__button
        max-width: 410px
        height: 38px
        font-size: 13px
      &__input
        padding: 10px
        font-size: 12px
      &__title
        font-size: 28px
        margin-bottom: 15px
      &__form
        width: 768px
        height: 203px
      &__content
        background: url("../img/dev/form/borderC2.png") no-repeat center/contain