@media screen and ( max-width: 1400px )
  .case
    &-mobile
      &__title
        margin-bottom: 25px
      &__row
        gap: 20px
      &__box
        width: 304px
        min-width: 304px
        height: 573px
        background: url("../img/case/mobile/bgM.png") no-repeat center/contain
        padding-top: 22px
      &__window
        width: 245px
        height: 528px

  .con
    &-advantages
      &__row
        gap: 60px
      &__title
        margin-bottom: 40px
      &__wrap
        max-width: 1000px
        margin: auto
        gap: 40px
      &__card
        gap: 15px
        max-width: 400px
        &__title
          font-size: 20px
        &__text
          font-size: 15px

  .dev
    &-installment
      &__box
        max-width: 900px
    &-advantages
      &__row
        gap: 14px
      &__card
        &--small
          height: 120px
          .dev-advantages__card__content
            padding: 18px 14px
        &--big
          .dev-advantages__card__content
            padding: 24px 14px 14px
        &--2
          .dev-advantages__card__num
            right: 15px
            top: 20px
        &--3
          .dev-advantages__card__text
            text-align: right
          .dev-advantages__card__num
            left: 15px
            bottom: 10px
        &--4
          .dev-advantages__card__num
            right: 15px
            bottom: 10px
        &--5
          .dev-advantages__card__num
            right: 15px
            bottom: 10px
        &__title
          font-size: 20px
        &__text
          font-size: 15px
        &__num
          font-size: 15px
        &__line
          height: 3px !important
          width: 44px

  .footer
    &__info
      font-size: 14px
    &__row
      justify-content: center
      column-gap: 50px
    &__bottom
      font-size: 15px
    &__wrap
      row-gap: 20px
      column-gap: 40px
      margin-bottom: 50px
    &__card
      &__title
        font-size: 20px
      &__ul
        font-size: 15px
    &__logo
      width: 202px
      margin-bottom: 23px
    &__phone, &__address
      font-size: 16px
      column-gap: 10px
      img
        width: 30px
    &__address
      margin-bottom: 20px
    &__phone
      margin-bottom: 12px

  .reviews
    margin-bottom: 80px
    &__container
      max-width: 1119px
    &__window
      margin-bottom: 30px
    &__arrows
      max-width: 600px
      margin: 0 auto 30px
    &__dot
      width: 10px
      height: 10px
      &::after
        width: 15px
        height: 15px
    &__arrow
      width: 80px
    &__card
      width: 353px
      min-width: 353px
      height: 203px
      &__text
        font-size: 24px
        line-height: 105%
        margin-bottom: 15px
      &__img
        max-width: 192px
        max-height: 30px
      &__play
        width: 33px
        bottom: 34px
      &__content
        padding: 30px
        background: url("../img/index/reviews/borderM.png") no-repeat center/contain

  .numbers
    &__container
      padding-top: 80px
      padding-bottom: 80px
    &__row
      row-gap: 50px
      column-gap: 50px
    &__card
      width: 150px
      &__text
        font-size: 13px
      &__title
        font-size: 38px
        line-height: 28px
      &__screen
        width: 126px
        height: 113px
        background: url("../img/index/numbers/borderC.png") no-repeat center/contain
        margin-bottom: 8px
        &::before
          width: 22px
          height: 14px
          top: 30px
          left: -8px
  .we
    &__img
      right: 36px
      &__hand
        width: 268px
      &__logo
        width: 215px
        left: 19px
        top: -106px
    &__box
      max-width: 345px
    &__text
      font-size: 11px
    &__container
      max-width: 820px
      padding: 50px 60px
      background: url("../img/index/we/bgC2.png") no-repeat calc(100% - 15px) center
    &__border
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 3px, 3px 3px, 3px calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 3px, 0 3px)
    &__line
      &--left
        width: 3px
      &--right
        width: 3px
      &--top
        height: 3px
      &--bottom
        height: 3px
