@media screen and ( max-width: 1600px )
  .header
    padding-top: 10px
    padding-bottom: 10px
    &__phone
      font-size: 20px
      column-gap: 5px
      img
        width: 30px
    &__ul
      column-gap: 15px
    &__li
      a
        font-size: 16px
    &__logo
      width: 145px