@media screen and ( max-width: 575px )
  .case
    &-tools
      &__block
        padding: 0 6px
      &__title
        text-align: left
        max-width: none
        padding: 0 20px
      &__window
        max-width: none
        overflow: auto
        margin: auto
      &__field
        flex-wrap: nowrap
        justify-content: left
        padding: 0 20px
        width: min-content
        gap: 20px
      &__card
        min-width: 60px
      &__box
        width: 100%
        max-width: none
        padding: 20px 0

  .dev
    &-dialog
      &__row
        flex-direction: column
      &__button
        width: 100%
        max-width: 300px
        margin: auto

    &-services
      padding-left: 0
      padding-right: 0
      &__row
        gap: 0
    &-steps
      &__info
        &__content
          padding: 25px 30px 30px
    &-main
      overflow: hidden
      padding-left: 0
      padding-right: 0
      &__row
        flex-wrap: nowrap
        margin: 0
        display: none
        &--ml, &--mr
          display: flex
        &--mr
          margin-top: 20px
          .dev-main__card
            text-align: right !important
        gap: 0
      &__window
        overflow: hidden
      &__card
        min-width: 260px
        padding: 0 10px
        &:nth-child(3), &:last-child
          text-align: left
      &__title
        padding: 0 15px
      &__text
        padding: 0 15px

  .steps
    &__interface
      max-width: 300px