@media screen and ( max-width: 767px )
  .main
    padding-top: 25px
    text-align: center
    overflow: hidden
    &__button
      margin: auto
      width: 346px
      height: 62px
      font-size: 20px
      background: url('../img/index/main/btnM.svg') no-repeat center/100% 100%
      &__glitch
        background: url('../img/index/main/btnM.svg') no-repeat center/100%
    &__block
      column-gap: 0
      row-gap: 20px
      margin-left: auto
      margin-right: auto
      justify-content: center
    &__card
      flex-direction: column
      row-gap: 5px
      width: 170px
    &__box
      margin: auto
    &__img
      position: relative
      transform: none
      margin-left: auto
      margin-right: auto
      margin-bottom: 20px
      min-width: 339px
      width: 339px
      &__rings
        width: 210px
        bottom: 70px
        right: 83px
      &__ring
        &--2
          width: 133px
        &--3
          width: 94px
    &__title
      font-size: 42px
      margin-bottom: 6px