@media screen and ( max-width: 991px )
  .section
    padding-left: 15px
    padding-right: 15px
    &__title
      font-size: 35px

  .menu
    &--active
      display: block

  .footer
    padding-top: 96px
    padding-bottom: 58px
    overflow: hidden
    &__logo
      margin-bottom: 0
    &__bottom
      flex-direction: column
      align-items: center
      row-gap: 10px
      text-align: center
    &__card
      text-align: center
      width: 260px
      &--1
        order: 1
      &--2
        order: 2
      &--3
        order: 3
      &--4
        order: 5
      &--5
        order: 4
    &__row
      position: relative
    &__box
      margin-bottom: 40px
      &__block
        position: absolute
        left: 50%
        transform: translateX(-50%)
        width: 100%
        bottom: 92px
        display: flex
        column-gap: 34px
        justify-content: center
        min-width: 375px
    &__phone, &__address
      flex-direction: column
      row-gap: 5px
      img
        width: auto
        height: 30px
    &__phone
      margin-bottom: 0
    &__wrap
      display: flex
      flex-wrap: wrap
      max-width: 700px
      margin: 0 auto 148px
      justify-content: center
      row-gap: 30px
    &__row
      flex-direction: column
      align-items: center

  .reviews
    padding-left: 0
    padding-right: 0

  .services
    &__bg
      &__substrate
        background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0.1) 47.92%, #111111 100%), radial-gradient(100% 319.8% at 100% 53.38%, #111111 0%, rgba(17, 17, 17, 0.1) 47.92%, #111111 100%)

  .portfolio
    margin-bottom: 60px
    &__row
      max-width: 700px
      &__button
        right: auto
        left: 35px
        &--left
          left: auto
          right: 35px
    &__title
      margin-bottom: 0
    &__subtitle
      margin-bottom: 40px
    &__card-img
      width: 343px
      height: 225px
      &::before
        clip-path: polygon(5px 35px, 25px 13px, 160px 13px, 167px 5px, calc(100% - 35px) 5px, calc(100% - 5px) 35px, calc(100% - 5px) calc(100% - 35px), calc(100% - 25px) calc(100% - 12px), 182px calc(100% - 12px), 175px calc(100% - 3px), 33px calc(100% - 3px), 5px calc(100% - 35px))
      &__content
        clip-path: polygon(16px 35px, 28px 23px, 162px 23px, 170px 14px, calc(100% - 39px) 16px, calc(100% - 17px) 37px, calc(100% - 17px) calc(100% - 37px), calc(100% - 28px) calc(100% - 25px), 182px calc(100% - 25px), 175px calc(100% - 17px), 37px calc(100% - 17px), 16px calc(100% - 39px))

  .main
    margin-bottom: 60px
    &__img
      right: 0

  .header
    &__logo
      width: 206px
    &__nav
      display: none
    &__phone
      display: none
    &__burger
      display: flex